body {
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
}

.login-box {
  width: 400px;
  height: 400px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-box h1 {
  text-align: center;
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333333;
}

form input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
}

input[type="button"] {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

input[type="button"]:hover {
  background-color: #222222;
}

.para-2 {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
}

.para-2 a {
  color: #000000;
}
