@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  border: 1px solid #ddd;
  background-color: #20faaa;
  margin-bottom: 50px;
}
tr,
th {
  color: white;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
th:last-child,
td:last-child {
  border-right: none;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
  color: rgb(0, 0, 0);
}
#mySidenav {
  position: fixed;
  z-index: 1;
}

.main-content {
  margin-top: 100px;
}
#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}
#mySidenav a:hover {
  left: 0;
}
#about {
  top: 20px;
  background-color: #20faaa;
}
#blog {
  top: 80px;
  background-color: #20faaa;
}
#projects {
  top: 140px;
  background-color: #20faaa;
}
#profile {
  top: 200px;
  background-color: #20faaa;
}
#Logout{
    top: 260px;
  background-color: #20faaa;
}

.toppo h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 32px;
  padding-top: 30px;
  color: rgb(0, 0, 0);
}

.form_container {
  width: 40%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 40px 80px 40px 80px;
  background-color: #ffffff;
  box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
    0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
    0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: #212121;
}
.subtitle {
  font-size: 0.725rem;
  max-width: 80%;
  text-align: center;
  line-height: 1.2rem;
  color: #8b8e98;
}
.input_container {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.icon {
  width: 20px;
  position: absolute;
  z-index: 99;
  left: 12px;
  bottom: 9px;
}
.input_label {
  font-size: 1rem;
  color: #707278;
  font-weight: 500;
}
.input_field {
  width: auto;
  height: 40px;
  padding: 0 30px 0 10px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #1dda95;
  background-color: transparent;
}
.sign-in_btn {
  width: 100%;
  height: 40px;
  border: 0;
  background: #20faaa;
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
.sign-in_btn:hover {
  background: #000000;
  color: #ffffff;
}
